header{
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    position: relative;
    display: flex;
    border-bottom: 1px solid #e7e9fc ;
    max-width: 1440px;
    height: 72px;
}

header .container-h{
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    width: 1440px;
}

header .container-h .nav-menu{
    position: relative;
    display: flex;
    align-items: center;
}

header .container-h .nav-menu .logo{
    margin-right: 76px;
    margin-left: 156px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5 ;
    text-decoration: none;
    width: 115px;
    height: 24px;
    top: 24px;
    left: 0px;
}

header .container-h .nav-menu .logo .logo-studio{
    color: #2E2F42;
}

header .container-h .nav-menu .menu-list{
    position: relative;
    display: flex;
    padding-left: 0%;
    gap: 40px;
    width: 261px;
    height: 24px;
    top: 0px;
    left: 76px;
}

header .container-h .nav-menu .menu-list li{
    list-style-type: none;
}

header .container-h .nav-menu .menu-list li .menu, .menu-studio{
    position: relative;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
}

header .container-h .nav-menu .menu-list .menu-studio::after{
    content: '';
    display: flex;
    top: 20px;
    width: 100%;
    position: relative;
    left: 0;
    bottom:-1px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

header .container-h address{
    font-style: normal;
    padding: 0%;
}

header .container-h address .informations{
    position: relative;
    display: flex;
    gap: 40px;
    top: 7px;
    left:300px ;
}

header .container-h address .informations li{
    list-style-type: none;
}

header .container-h address .informations li a{
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .container-h address .informations li a:hover{
    color: #404bbf;
}

main .section-one {
    position: absolute;
    display: flex;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    width: 1440px;
    height: 600px;
    padding: 188px 0;
    margin: 0%;
    top: 72px;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}

main .section-one .container-s1 .motto{
    position: relative;
    display: flex;
    max-width: 496px;
    height: 120px;
    top: 0px;
    left: 472px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

main .section-one .container-s1 .service-button{
    position: relative;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    left: 466px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

main .section-one .container-s1 .service-button:hover{
    cursor: pointer;
    background-color: #404bbf;
}

main .section-one .container-s1 .service-button:focus{
    cursor: pointer;
    background-color: #404bbf;
}

main .section-two{
    position: absolute;
    display: flex;
    padding: 120px 0;
    
}

main .section-two .container-s2{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

main .section-two .container-s2 .visually-hidden{
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

main .section-two .container-s2 .features-ul{
    position: absolute;
    display: flex;
    list-style-type: none;
    top: 792px;
    left: 156px;
    width: 1128px;
    height: 104px;
    gap: 24px;
    margin-left: 0px;
}

main .section-two .container-s2 .features-ul .features-li{
    width: calc((100% - 72px) / 4);
}

main .section-two .container-s2 .features-ul .features-li .features-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

main .section-two .container-s2 .features-ul .features-li h2{
    display: none;
}

main .section-two .container-s2 .features-ul .features-li .feature-h{
    margin-bottom: 8px;
    width: 264px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

main .section-two .container-s2 .features-ul .features-li p{
    width: 270px;
    height: 72px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

main .section-three{
    position: absolute;
    display: flex;
    padding:120px 0;
    width: 1440px;
    height: 780px;
    top: 1136px;
    background-color: #F4F4FD;
}

main .section-three .container-s3 .teamcard-h{
    position: relative;
    display: flex;
    margin-bottom: 72px;
    top: 0px;
    left:639px ;
    width: 170px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

main .section-three .container-s3 .teamcard-ul{
    position: relative;
    display: flex;
    top: 0px;
    left: 156px;
    margin: 0%;
    padding: 0%;
    gap: 24px;
}

main .section-three .container-s3 .teamcard-ul .teamcard-li{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    list-style-type: none;
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
}

main .section-three .container-s3 .teamcard-ul .teamcard-li .team-member{
    padding: 32px 0;

}

main .section-three .container-s3 .teamcard-ul .teamcard-li .team-member .teamcards-h{
    text-align: center;
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

main .section-three .container-s3 .teamcard-ul .teamcard-li .team-member .teamcards-p{
    text-align:center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

main .section-three .container-s3 .teamcard-ul .teamcard-li .team-member .social-media-ul{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0%;

}

main .section-three .container-s3 .teamcard-ul .teamcard-li .team-member .social-media-ul .social-media-li{
    width: 40px;
    height: 40px;
    list-style-type: none;

}

main .section-three .container-s3 .teamcard-ul .teamcard-li .team-member .social-media-ul .social-media-li .social-media-a{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

main .section-three .container-s3 .teamcard-ul .teamcard-li .team-member .social-media-ul .social-media-li .social-media-a:hover{
    background-color: #404bbf ;
}

main .section-three .container-s3 .teamcard-ul .teamcard-li .team-member .social-media-ul .social-media-li .social-media-a:focus{
    background-color: #404bbf ;
}

main .section-three .container-s3 .teamcard-ul .teamcard-li .team-member .social-media-ul .social-media-li .social-media-a .social-media-svg{
    fill: #f4f4fd ;

}

main .section-four .container-s4{
    position: absolute;
    display: flex;
    padding: 120px 0;
    width: 1128px;
    height: 1000px;
    top: 2036px;
    left: 156px;
}

main .section-four .container-s4 .portfolio-top-h{
    position: absolute;
    display: flex;
    width: 220px;
    height: 40px;
    top: 0px;
    left: 455px;
    margin-bottom: 72px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding: 0%;
    margin: 0%;
}

main .section-four .container-s4 .portfolio-ul{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0%;
}

main .section-four .container-s4 .portfolio-ul .portfolio-li{
    list-style-type: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
}

main .section-four .container-s4 .portfolio-ul .portfolio-li:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

main .section-four .container-s4 .portfolio-ul .portfolio-li .opening-p{
    position: relative;
    overflow: hidden;
}

main .section-four .container-s4 .portfolio-ul .portfolio-li:hover .opening-p .portfolio-p-special{
    transform: translateY(0%);
}

main .section-four .container-s4 .portfolio-ul .portfolio-li .opening-p .portfolio-p-special{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

main .section-four .container-s4 .portfolio-ul .portfolio-li .details{
    padding: 32px 16px;
    border: 1px solid #e7e9fc ;
    border-top: none;
    margin-bottom:8px;
    width: 360px;
}

main .section-four .container-s4 .portfolio-ul .portfolio-li .details .portfolio-h{
    display: block;
    position: relative;
    width: 200px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing:0.02em ;
    color: #2e2f42;
    text-indent: 12px;
}

main .section-four .container-s4 .portfolio-ul .portfolio-li .details .portfolio-p{
    display: block;
    position: relative;
    width: 30px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing:0.02em ;
    color: #434455;
    text-indent: 12px;
}

footer{
    display: flex;
    padding: 100px 0;
    width: 1440px;
    height: 312px;
    top: 3220px;
    background-color: #2e2f42;
    position: absolute;
}

footer .container-f{
    display: flex;
    align-items: baseline;
}

footer .container-f .container2-f{
    margin-right: 120px;
    width: 264px;
    height: 112px;
}

footer .container-f .container2-f .logo{
    position: relative;
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    width: 115px;
    height: 24px;
    left: 156px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5 ;
    text-decoration: none;
}

footer .container-f .container2-f .logo .logo-studio{
    color: #F4F4FD;
}

footer .container-f .container2-f .footer-p{
    max-width: 264px;
    display: flex;
    position: relative;
    overflow: hidden;
    width: 264px;
    height: 72px;
    top: 0px;
    left: 156px;
    color: #f4f4fd;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-top: 0px;
    margin-top: 0px;
}

footer .container-f .f-social-media{
    position: absolute;
    display: flex;
    width: 208px;
    height: 80px;
    top: 100px;
    left: 540px;
    color: #FFFFFF;
}

footer .container-f .f-social-media .f-social-media-p{
    position: absolute;
    display: flex;
    width: 96px;
    height: 24px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom:16px;
    margin-top: 0px;
    padding-top: 0px;
}

footer .container-f .f-social-media .f-social-media-ul2{
    display: flex;
    position: relative;
    gap: 16px;
    top: 45px;
    left: 0px;
    padding-top: 0px;
    margin-top: 0px;
    padding-left:0px ;
    
}

footer .container-f .f-social-media .f-social-media-ul2 .f-social-media-li2{
    width: 40px;
    height: 40px;
    list-style-type: none;

}

footer .container-f .f-social-media .f-social-media-ul2 .f-social-media-li2 .f-social-media-a2{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer .container-f .f-social-media .f-social-media-ul2 .f-social-media-li2 .f-social-media-a2:hover{
    background-color: #31d0aa;
}

footer .container-f .f-social-media .f-social-media-ul2 .f-social-media-li2 .f-social-media-a2:focus{
    background-color: #31d0aa;
}

footer .container-f .f-social-media .f-social-media-ul2 .f-social-media-li2 .f-social-media-a2 .f-social-media-svg{
    fill: #f4f4fd;
}

footer .container-f .mail-input{
    display: flex;
    position: absolute;
    width: 453px;
    height: 80px;
    top: 100px;
    left: 828px;
}

footer .container-f .mail-input .mail-input-p{
    margin-bottom: 16px;
    margin-top: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

footer .container-f .mail-input .mail-form{
    display: flex;
    gap: 24px;
    
}

footer .container-f .mail-input .mail-form .mail-label .mail-input{
    width: 264px;
    height: 40px;
    top: 40px ;
    left: 0px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

footer .container-f .mail-input .mail-form .subscribe-button{
    min-width: 165px;
    height: 40px;
    display: flex;
    position: relative;
    top: 40px;
    left: 189px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

footer .container-f .mail-input .mail-form .subscribe-button .icon-send{
    margin-left: 16px;
}

/* tablet */

@media (max-width:768px) {

    header .container-h{
    width: 768px;
    padding: 0%;
    margin: 0%;
    }

    header .container-h .nav-menu .logo{
    margin-left: 16px;
    margin-right: 110px;
    top: 0px;
    }

    header .container-h .nav-menu .menu-list{
    top: 0px;
    padding: 0%;
    left: 0px;
    margin-right: 110px;

    }

    header .container-h address{
    margin-right: 0%;
    }

    header .container-h address .informations{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    top: 7px;
    left:0px ;
    padding: 0%;
    margin: 0%;
    }

    main .section-one {
    position: relative;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tablet.jpg);
    width: 768px;
    height: 436px;
    top: 0px;
    }

    main .section-one .container-s1 .motto{
    position: absolute;
    padding: 0%;
    margin: 0%;
    width: 496px;
    height: 120px;
    top: 112px;
    left: 136px;
    }

    main .section-one .container-s1 .service-button{
    position: absolute;
    top: 268px;
    left: 300px;
    }

    main .section-two .container-s2 .features-ul .features-li .features-svg{
    display: none;
    }
    
    main .section-two{
    margin: 96px 16px 96px 16px;
    padding: 0%;
    width: 736px;
    height: 312px;
    }

    main .section-two .container-s2{
    margin: 0px 16px 0px 16px ;
    padding: 0%;
    margin: 0%;
    }

    main .section-two .container-s2 .features-ul{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 736px;
    top: 0px;
    left: 0px;
    column-gap: 24px;
    row-gap: 72px;
    padding: 0%;
    margin: 0%;
    
    }

    main .section-two .container-s2 .features-ul .features-li{
    padding: 0%;
    width: 356px;
    height: 120px;
    }

    main .section-two .container-s2 .features-ul .features-li h2{
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    width: 264px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }

    main .section-two .container-s2 .features-ul .features-li .feature-h{
    display: none;
    }

    main .section-two .container-s2 .features-ul .features-li p{
    width: 356px;
    height: 72px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }

    main .section-three{
    position: absolute;
    display: flex;
    padding:96px 0px 0px 0px;
    width: 768px;
    height:1224px;
    top: 1012px;
    }

    main .section-three .container-s3 .teamcard-h{
    position: relative;
    display: flex;
    margin-bottom: 80px;
    top: 0px;
    left:316px ;
    width: 163px;
    height: 40px;



    }

    main .section-three .container-s3 .teamcard-ul{
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
    top: 0px;
    left: 108px;
    margin: 0%;
    padding: 0%;
    }

    main .section-three .container-s3 .teamcard-ul .teamcard-li{
    width: 264px;
    height: 428px ;
    }

    main .section-three .container-s3 .teamcard-ul .teamcard-li .team-member{
    padding: 0px;
    }

    main .section-four .container-s4 .portfolio-ul .portfolio-li:hover .opening-p .portfolio-p-special{
    display: none;
    }

    main .section-four .container-s4 .portfolio-ul .portfolio-li .opening-p .portfolio-p-special{
    display: none;
    }

    main .section-four .container-s4{
    width: 736px;
    height: 1516px;
    top: 2332px;
    left: 16px;
    }

    main .section-four .container-s4 .portfolio-top-h{
    left: 275px;
    }

    main .section-four .container-s4 .portfolio-ul{
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    }

    main .section-four .container-s4 .portfolio-ul .portfolio-li{
    width: 356px;
    height: 420px;
    }

    main .section-four .container-s4 .portfolio-ul .portfolio-li .details{
    padding: 32px 16px 32px 16px;
    padding-top: 10px;
    border: 1px solid #e7e9fc ;
    border-top: none;
    margin-bottom:8px;
    width: 356px;
    height: 120px;
    gap: 8px;
    }

    main .section-four .container-s4 .portfolio-ul .portfolio-li .details .portfolio-h{
    margin-bottom: 0px;
    }   

    footer{
    margin-top: 76px;
    padding: 96px 0;
    width: 768px;
    height: 456px;
    top: 3944px;    
    }

    footer .container-f{
    width: 768px;
    }

    footer .container-f .container2-f .logo{
    display: flex;
    left: 108px;
    }

    footer .container-f .container2-f .footer-p{
    left: 108px;
    margin-right: 24px;
    }

    footer .container-f .f-social-media{
    left: 396px;
    top: 96px;
    }

    footer .container-f .mail-input{
    top: 280px;
    left: 108px;
    }


}
/* mobile */

@media (max-width:320px) {
    
    body{
        background-color: red;
    }
    

}


